body {
    margin-top: 10px;
    background-color: #fff;
   
    background-repeat:repeat;
    
}

p, h1, h2, h3, h4, h5 {
 color: black;
 font-family: Poppins;
    
}
.red {
  color: red;
}
.menu {
    margin-top: 15px;
}

.space {
    margin-top: 60px;
}

.container {
    position: relative;
    text-align: center;
    color: #fff;
}

.banner {
    position: absolute;
    margin-top: 100px;
    margin-left: 10px;
}

.banner2 {
    position: absolute;
    margin-top: 150px;
}

.banner3 {
    position: absolute;
    margin-top: 240px;
    margin-left: 300px;
}

.headings {
    text-align: center;
    margin-top: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width:767px) {
  #go {
     display: none;
  }
  #hamburger-icon {
     display: block;
  }
 }



#hamuber-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 40px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.3s;
}

.link {
  color: #fff;
}

.plink {
  color: #F18F8D;
}

.open .bar1 {
  
  transform: rotate(-90deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  
  transform: rotate(90deg) translate(-12px, 6px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 }

 .mobile-menu {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 1;
  
  
 }

#player-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.video-controls.hidden {
  display: none;
}

.video-controls {
    right: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    transition: all 0.2s ease;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    display: flex;
  }
  
  .video-controls.hide {
    opacity: 0;
    pointer-events: none;
  }

  button {
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .fa, .fa-solid {
    color: #fff;
    font-size: 28px;
    margin-left: 20px;
  } 

  .fa-stop-circle-o {
    margin-right: 20px;
  }

  .fa-volume-up {
    margin-left: auto;
  }

  /*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 25rem;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: red;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #808080;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: red;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #808080;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
  }